<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306825712414-ej9qnc1vo92ref1ho3povivo7s0di9kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306825712414-ej9qnc1vo92ref1ho3povivo7s0di9kh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>306825712414-ge3vc0bni8jdme5e2e5jlbaofokf4hgt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAODV6MOVcnpChIr18Faeq_o1JeOUs4k8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>306825712414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eldridgeng.playspace</string>
	<key>PROJECT_ID</key>
	<string>foodfetch-399615</string>
	<key>STORAGE_BUCKET</key>
	<string>foodfetch-399615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306825712414:ios:44a8469259b745028e2f0f</string>
</dict>
</plist>